.publishScreenRoot {
    height: 100%;
}
.methodChooserRoot {
    display: flex;
    flex-direction: row;
    /* this can go away somehow... should be at a higher level */
}
.methodChooserRoot img {
    width: 200px;
    margin-left: 50px;
}
.methodChooserRoot .buttonWrapper {
    margin-top: 12px;
    /*match padding of radio buttons*/
}
.methodChooserRoot a {
    font-family: "roboto";
}
