.deviceAndControls {
    display: flex;
    flex-direction: row;
}
.deviceFrame {
    --screenHeight: calc(320px);
    --screenWidth: calc(180px);
    background: #f1f1f1;
    box-sizing: content-box;
    width: var(--screenWidth);
    height: var(--screenHeight);
    border-width: 10px;
    border-style: solid;
    border-color: #636363;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-radius: 15px;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    display: flex !important;
    --scale: 1;
    transition: all 200ms;
}
.deviceFrame.orientation-button {
    --scale: 0.2;
    transform-origin: top;
}
.deviceFrame.orientation-button.portrait {
    margin-right: -60px;
    margin-left: 100px;
    transform: translate(0, 65px) scale(0.2);
}
.deviceFrame.orientation-button.landscape {
    transform: translate(0, 117px) rotate(-90deg /*counter clockwise*/)
        scale(0.2);
}
.deviceFrame.orientation-button.disabled {
    opacity: 0.5;
}
.deviceFrame.orientation-button .selectedOrientation {
    border: solid yellow;
    margin: -35px;
    width: 135%;
    height: 135%;
}
.deviceFrame.portrait.fullSize {
    transform: translate(143px, 0);
}
.deviceFrame.portrait iframe {
    width: 100%;
    height: 100%;
}
.deviceFrame.landscape {
    transform-origin: top left;
    transform: translate(0, 200px /* down*/)
        rotate(-90deg /*counter clockwise*/) scale(var(--scale));
}
.deviceFrame.landscape iframe {
    transform: rotate(90deg) translate(70px, 70px);
    height: 56.25%;
    width: 177.77777778%;
    flex-shrink: 0;
    border: none;
}
.deviceFrame:before {
    --speakerWidth: calc(var(--screenWidth) / 3);
    width: var(--speakerWidth);
    height: 5px;
    margin-top: -12px;
    margin-left: calc((var(--screenWidth) / 2) - (var(--speakerWidth) / 2));
    border-radius: 5px;
    background-color: #ababab;
    content: "";
    position: absolute;
}
