include ../bloom-xmatter-mixins.jade

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='BloomFormatVersion', content='2.0')
		title Tradtional Front &amp; Back Matter
		+stylesheets('Traditional-XMatter.css')
	body
		+factoryStandard-outsideFrontCover
		+standard-blankInsideFrontCover
		+factoryStandard-titlePage
		+traditional-credits-interiorPage
		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover
